body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

header{
    width: 100%;
    height: 70px;
    display: inline-flex;
    align-items: center;
    border-bottom: solid #6A5237 1px;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 70px;
    background-color: white;
}

ul{
display: inline-flex;
text-decoration: none;
list-style: none;
padding-right: 100px;

}

li, a{
    padding-left: 25px;
    text-decoration: none;
    color: rgb(119, 115, 115);
    display: block;
}
header ul li a:hover{
    color:#C49A6C;
}
.logo{
    width: 100px;
    height: 90px;
    margin-top: -10px;
}
.first{
    background: linear-gradient(rgba(191, 136, 69, 0.6), rgba(90,60,0,0.3)), url("/Users/macos/Desktop/my project/img/images/Sanmutech-mockup-2048x1365.jpeg");
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 60%;
    width: 65.5%;
    padding:200px 400px 200px 100px  ;
    color: white;
    display: flex;
}
.solve{
    font-size: 40px;
    font-weight: 100;
}
.creating{
    font-size: 20px;
}
main{
    padding-top:70px;
    margin-top: -10px;
}
.content{
    width: 500px;
}
button{
    background-image: linear-gradient( #C49A6C , #6A5237);
    width: 100px;
    height: 40px;
    border: #C49A6C solid 0.2px;
    color: white;
    font-size: 15px;
    border-radius: 2px;
}

.secdiv{
    text-align: center;
    margin-top: 100px;
}

.what-we-do{
    display: flex;
    margin: 50px 100px 100px 100px;
}
.Design{
width: 300px;
text-align: left;
height: 300px;
border-radius: 20px;
padding: 50px 50px 0 50px;
box-shadow: 0 0 10px 0 rgb(227, 224, 224);

}
.Development{
    width: 300px;
    text-align: left;
    height: 300px;
    border-radius: 20px;
    padding: 50px 50px 0 50px;
    margin-left: 50px;
    box-shadow: 0 0 10px 0 rgb(227, 224, 224);
}
.icons{
    width: 50px;
    height: 50px;
}

.Marketing{
    width: 300px;
    text-align: left;
    height: 300px;
    border-radius: 20px;
    padding: 50px 50px 0 50px;
    margin-left: 50px;
    box-shadow: 0 0 10px 0 rgb(227, 224, 224);
}
.Portfolio, .Customers, .Team, .Partners{
    width: 100%;
    background-image: linear-gradient( #C49A6C , #6A5237);
    text-align: center;
    color: white;
    padding: 50px 0 50px 0;
}

#portfolio-section{
    text-align: center;
    padding: 50px 0 50px 0;
}
.san-img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
}
.isa-img, .hatel-img{
    border-radius: 20px; 
    padding-left: 20px;
    width: 400px;
    height: 400px;
}
.buttontwo{
    margin-left: 650px;
    margin-bottom: 30px;
    font-size: 15px;
}

.Consultant-section{
    display: flex;
    padding: 50px 125px 100px 125px;
}
.icon{
    width: 30px;
    height: 30px;
    margin-left: -25px;
    
}


.Consultant-div{
    width: 400px;
    text-align: left;
    height: 500px;
    border-radius: 20px;
    padding: 50px 50px 0 50px;
    margin-left: 50px;
    box-shadow: 0 0 10px 0 rgb(227, 224, 224);
    text-align: center;
    color: rgb(63, 63, 63);
}
.con-img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.Customers-logo{
    padding: 0px 100px 0px 100px;
}
.our-team{
    display: flex;
    margin: 50px 150px 50px 150px;
    text-align: left;
    
}
#abiodun{
margin-left: 50px;
}
#rukayat{
    margin-left: 50px;
}
.project{
    display: flex;
    box-shadow: 10px 0 10px 0 #b49776;
    padding: 50px 0 50px 150px ;
}
.message-us{
    width: 150px;
    height: 40px;
    margin-left: 260px;
    color: white;
    margin-top: 20px;
    padding-right: 23px;
    border-radius: 2px;
}
.mes{
    color: white;
}
h1, h2, h3{
    font-weight: lighter;
}
.footer-logo{
    width: 100px;
}
.footer{
    display: flex;
    padding-left: 150px;
    background-color: #EEEAE3;
    color: rgb(132, 132, 132);  
}
.footer-button{
    width: 120px;
    padding-right: 23px;
    border-radius: 2px;
}
.copyright{
    text-align: center;
    padding: 10px 0 10px 0;
    background-image: linear-gradient( #C49A6C , #6A5237);
    color: white;
}
.comp, .chat, .add{
    margin-left: 100px;
}
