body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    height: 70px;
    display: inline-flex;
    padding-left: 100px;
    border-bottom: solid #6A5237 1px;
    position: fixed;
    margin-bottom: 70px;
    background-color: white;
}
.logo{
    width: 100px;
    height: 90px;
    margin-top: -10px;
}
ul{
    display: inline-flex;
    margin-left: 600px;
    text-decoration: none;
    list-style: none;
    }
li, a{
        padding-left: 25px;
        text-decoration: none;
        color: black;
    }
header ul li a:hover{
        color:#C49A6C;  } 
main{
    padding-top: 70px;
}
.why-us{
    width: 100%;
    background-image: linear-gradient( #C49A6C , #6A5237);
    text-align: center;
    color: white;
    padding: 50px 0 50px 0;
}
.what-we-do{
    display: flex;
    padding-top: 20px;
    background-color: #EBE8E6;
    padding-bottom: 50px;
    justify-content: center;
}
.who-we-are{
    width: 270px;
text-align: left;
height: 270px;
border-radius: 20px;
padding: 50px 50px 0 50px;
box-shadow: 0 0 10px 0 rgb(227, 224, 224);
background-color: white;
}
.Development, .Marketing{
    width: 270px;
text-align: left;
height: 270px;
border-radius: 20px;
padding: 50px 50px 0 50px;
box-shadow: 0 0 10px 0 rgb(227, 224, 224);
margin-left: 20px;
background-color: white;
}

.idea, .design, .develop, .promotion, .connect, .deliver{
    width: 300px;
text-align: left;
height: 300px;
border-radius: 20px;
padding: 50px 50px 0 50px;
}
.process{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#process{
    text-align: center;
    background-color: #968571;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}
.value{
    padding: 50px 150px 0 150px;
}
.one, .two, .three, .four, .five, .six{
    font-size: 80px;
    margin-bottom: -10px;
    color: wheat;
}
.reviews{
    display: flex;
    padding-left: 250px;
    background-color: #EBE8E6;
    padding-bottom: 40px;
}
.sat, .Completed{
    margin-right: 300px;
}
#sat, #comp, #review{
    font-size: 60px;
    color: #6A5237;
    margin-bottom: -15px;
}
.our-team{
    display: flex;
    margin: 50px 200px 50px 200px;
    text-align: left;
}
.icon{
    width: 20px;
    height: 20px;
    margin-left: -25px;
}
#abiodun, #rukayat{
    margin-left: 50px;
    }
button{
        background-image: linear-gradient( #C49A6C , #6A5237);
        width: 100px;
        height: 40px;
        border: #C49A6C solid 0.2px;
        color: white;
        font-size: 15px;
    }
    .project{
        display: flex;
        box-shadow: 10px 0 10px 0 #b49776;
        padding: 50px 0 50px 150px ;
    }
    .message-us{
        width: 150px;
        height: 40px;
        margin-left: 260px;
        color: white;
        margin-top: 20px;
        padding-right: 23px;
        border-radius: 2px;
    }
    .mes{
        color: white;
    }
.footer-logo{
            width: 100px;
        }
.footer{
            display: flex;
            padding-left: 200px;
            background-color: #EEEAE3;
            color: rgb(132, 132, 132);
            
        }
.copyright{
            text-align: center;
            padding: 10px 0 10px 0;
            background-image: linear-gradient( #C49A6C , #6A5237);
            color: white;
        }
.comp, .chat, .add{
            margin-left: 100px;
        }